{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<nav class="nav">
        <button class="nav-button" id="back">
            <img src="/svg/nav-back.svg">
        </button>
         <button class="nav-button" id="forward">
            <img src="/svg/nav-forward.svg">
        </button>
        <button class="nav-button" id="reload">
            <img src="/svg/nav-reload.svg">
        </button>
        <button class="nav-button" id="home">
            <img src="/svg/nav-home.svg">
        </button>
        <input type="text" class="nav-input" id="input">
        <button class="nav-button" id="go">
            <img src="/svg/nav-go.svg">
        </button>

    </nav>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}